* {
  padding: 0px;
  margin: 0px;
  font-family: "Jost", sans-serif;
}

body {
  background-color: #93c5fd;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 0px 10px;
}

.app-name h1 {
  font-size: 30px;
  font-weight: 600;
  color: #082f49;
}

.created-lists-container select {
  padding: 5px;
  border-radius: 30px;
  background-color: #075985;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  margin-top: 10px;
}

.tasks-container-main {
  display: flex;
  justify-content: center;
}

.task-container {
  position: relative;
  margin-top: 20px;
  background-color: #075985;
  width: 90%;
  max-width: 300px;
  height: 65vh;
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.add-tasks-msg{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  text-align: center;
  color: lightblue;
}

.task-container i {
  color: #22c55e;
  font-size: 50px;
  position: sticky;
  top: 56vh;
  left: 240px;
  cursor: pointer;
}

ul{
  position: absolute;
  left: 50px;
  top: 30px;
  list-style: none;
  font-size: 22px;
  font-weight: 600;
  padding-right: 20px;
}

li{
  margin-bottom: 20px;
  color: white;
  position: relative;
}

ul li :nth-child(2){
  font-size: 14px;
  margin-top: 3px;
  padding: 2px 5px 2px 5px;
  background-color: #c4b5fd;
  color: black;
  border-radius: 28px;
  width: 100px;
  text-align: center;
}

ul li::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url(assets/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 7px;
  left: -30px;
}

ul li.checked{
  color: white;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(assets/checked.png);
}

.wrapper{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  bottom: 0;
}

.task-details-input{
  display: none;
  width: 200px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: rgb(0, 0, 0, 0.6);
  /* backdrop-filter: blur(3px); */
  padding: 30px;
}

.task-details-input input{
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  width: 90%;
  border: none;
  font-weight: 600;
}

.task-details-input p{
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  color: white;
}

.task-details-input button{
  width: 50%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 700;
  background-color: #84cc16;
}


.fa-circle-xmark{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: red;
}
